@import '~assets/utils.less';

.mbrand-tab-select {
  position: relative;
  margin: @font8;
  border-radius: @font8;
  background-color: transparent;

  .mbrand-tab-item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mbrand-tab-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: @font8;
    .px2rem(font-size, 20);
    .px2rem(height, 54);
    color: #222;
    font-weight: 500;
  }

  .active {
    background-color: #fff;
  }

  .position-relative {
    position: relative;
  }

  .background-white {
    background-color: #fff;
  }

  .background-gray {
    background-color: #f2f2f2;
  }

  .pseudo-element(@position, @direction, @offset, @bg-color, @height, @width) {
    position: absolute;
    z-index: -1;
    & when (@position = top) {
      top: 0;
    }
    & when (@position = bottom) {
      bottom: 0;
    }
    & when (@direction = left) {
      .px2rem(left, @offset);
    }
    & when (@direction = right) {
      .px2rem(right, @offset);
    }
    content: '';
    background: @bg-color;
    .px2rem(height, @height);
    .px2rem(width, @width);
  }

  .active-first {
    .position-relative;
    .background-white;

    &::after {
      .pseudo-element(top, right, -4, #f2f2f2, 10, 10);
    }

    &::before {
      .pseudo-element(bottom, right, -4, #fff, 10, 10);
    }
  }

  .active-middle {
    .position-relative;
    .background-white;

    &::before {
      .pseudo-element(bottom, left, -5, #fff, 20, 20);
    }

    &::after {
      .pseudo-element(bottom, right, -5, #fff, 20, 20);
    }
  }

  .active-last {
    .position-relative;
    .background-white;

    &::before {
      .pseudo-element(top, left, -5, #f2f2f2, 20, 20);
    }

    &::after {
      .pseudo-element(bottom, left, -5, #fff, 20, 20);
    }
  }

  .disabled {
    .background-gray;
  }

  .disabled-first {
    .position-relative;
    .disabled;

    &::after {
      .pseudo-element(bottom, right, -5, #f2f2f2, 54, 20);
    }
  }

  .disabled-left {
    .position-relative;
    .disabled;

    &::after {
      .pseudo-element(top, right, -5, #f2f2f2, 20, 20);
    }
  }

  .disabled-right {
    .position-relative;
    .disabled;

    &::after {
      .pseudo-element(top, left, -5, #f2f2f2, 20, 20);
    }
  }

  .content-wrapper {
    position: relative;
    background-color: #fff;
    border-radius: @font8;
  }

  /* 定义一个 mixin 用于生成伪元素的样式 */
  .pseudo-element-style(@bg-color-before, @bg-color-after) {
    &::before,
    &::after {
      position: absolute;
      z-index: -1;
      .px2rem(top, -4);
      .px2rem(width, 20);
      .px2rem(height, 20);
      content: '';
    }

    &::before {
      left: 0;
      background-color: @bg-color-before;
    }

    &::after {
      right: 0;
      background-color: @bg-color-after;
    }
  }

  .content-wrapper0 {
    .content-wrapper;
    .pseudo-element-style(#fff, #f2f2f2);
  }

  .content-wrapper1 {
    .content-wrapper;
    .pseudo-element-style(#f2f2f2, #f2f2f2);
  }

  .content-wrapper2 {
    .content-wrapper;
    .pseudo-element-style(#f2f2f2, #fff);
  }
}
